#title{
    font-family: noto sans kr;
    transition: all 500ms;
    position: relative;
    top: 0;
}
#title .inner{

    width: 68%;
    padding: 100px 0;
    box-sizing: border-box;
    max-width: 1305px;
}
#title .inner h2.h2{
    position: relative;
}

#title .inner h2{
font-size: 45px;
font-weight: 700;
background-color: #fff;
}
#title .inner h2.h2::before{
    content:"";
    background-image: url(../img/title/ico_date4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    bottom: -17px;
    margin-right: 10px;
}